body {
    margin: 0;
}

header {
    background-color: #005985;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header img {
    width: 60px;
    height: 60px;
}

.left-header {
    padding: 10px;
}

.right-header {
    padding-right:5px;
}

.middle-header {
    width: 60%;
}

input[type='search'] {
    background-color: #2991c5;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 12px;
}

input[type='search']::placeholder {
    color: #fff;
    text-align: center;
}

.fa-bars {
    font-size: 25px;
    color: #fff;
}

#empty {
    height: 40px;
    background-color: #2991c5;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #063650;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 5px;
}

nav ul li:hover {
    border-bottom: 1px solid #fff;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.fa-sort-down {
    font-size: 32px;
    color: #fff;
}

.upper {
    padding: 1px;
    border-bottom: 1px solid white;
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: .6;
}

.details {
    margin: 10px;
    background-image: url('./images/cloud.jpg');
    background-size: cover;
    color: #fff;
    border-radius: 8px;
}
.lower {
    padding: 10px;
}

.lower p {
    margin: 0;
    font-weight: 900;
}

.degree {
    font-size: 32px;
    font-weight: 700;
}